
$main_font: 'Proxima Nova', sans-serif;
$add_font: 'Proxima Nova Semibold', sans-serif;
$screen_sx:480px;
$screen_s:768px;
$screen_sm:992px;
$screen_lg:1230px;

$break_xxs:480px;
$break_xs:768px;
$break_sm:992px;
$break_lg:1200px;

$dark_color:#542749;
$light_color:#fff;
$add_color:#66b045;
$learn_border_color:#d2cad5;
$pale_color:#839fb1;



