.for-you {
	background:url(../img/for-you_bg.jpg);
	background-size:cover;
	background-position:center top;
	@include xs {
		background:url(../img/for-you_bg_xs.jpg);
		background-position:right top;
	}	
} 
.for-you__wrap {
	@include container;
	display:flex;
	justify-content:flex-end;
	@include xs {
		max-width:500px;
	}
}
.for-you__info {
	flex:0 0 50%;
	padding:60px 40px 80px;
	@include xs {
		flex-basis:100%;
		padding:40px 0;
	}
}
.for-you__title {
	@include big_title_fs;
	line-height:1.04em;
	font-weight:bold;
	max-width:380px;
	color:$light_color;
}
.for-you__item {
	display:flex;
	align-items:center;
	margin-top:28px;
}
.for-you__img {
	margin-left:3px;
	@include xs {
		width:75px;
	}
}
.for-you__text {
	font-size:1.5em;
	color:#fff;
	margin-left:52px;
	line-height:1.15;
	@include xs {
		margin-left:15px;
	}
	@include text_fs;
}